form.inline {
  /* display: inline; */
  margin-bottom: 0;
}

button.link {
  padding: 0.5rem 0.75rem;
}

.bill-types {
  display: grid;
}

.options {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  column-gap: 1rem;
  place-content: start;
}

.options a:not(.button) {
  padding: 1rem;
}

.options>* {
  text-align: center;
  display: grid;
}

.options>*>i {
  place-self: center;
}

.gauges {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1024px) {
  .bill-types {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
  }
}

@media only screen and (min-width: 1280px) {}

@media only screen and (min-width: 1580px) {}