.content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: max-content auto 1fr;
}

.row {
  grid-column: 1 / 13;
}

.row .canvas {
  min-height: 15rem;
}

.data-table {
  display: grid;
  row-gap: 1rem;
}
.data-table-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "bill-date bill-date bill-date bill-date"
    "from-date from-date to-date to-date"
    "unit unit price price"
    "created created updated updated";
  column-gap: 0.25rem;
  row-gap: 0.25rem;
  border: 1px solid var(--secondary-background-color);
  border-radius: 0.4rem;
  padding: 0.5rem;
}
.data-table-row:hover {
  background-color: var(--secondary-background-color);
}
a.data-table-row {
  color: var(--primary-text-color);
}
a.data-table-row:hover {
  text-decoration: none;
}
.data-table-row.header-row {
  display: none;
  background-color: var(--tertiary-background-color);
}

.data-table-cell[data-id="bill-date"] {
  grid-area: bill-date;
}
.data-table-cell[data-id="from-date"] {
  grid-area: from-date;
}
.data-table-cell[data-id="to-date"] {
  grid-area: to-date;
}
.data-table-cell[data-id="unit"] {
  grid-area: unit;
}
.data-table-cell[data-id="price"] {
  grid-area: price;
}
.data-table-cell[data-id="created"] {
  grid-area: created;
}
.data-table-cell[data-id="updated"] {
  grid-area: updated;
}

.data-table-cell .data-table-cell-label {
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
  .data-table {
    row-gap: 0.5rem;
  }
  .data-table-row.header-row {
    display: grid;
  }
  .data-table-row:not(.header-row) .data-table-cell-label {
    display: none;
  }
  .data-table-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "bill-date from-date to-date unit price created updated";
  }
}
@media only screen and (min-width: 1280px) {
  .row .canvas {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-height: 20rem;
  }
}
@media only screen and (min-width: 1580px) {
}
