.data-table-row {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "street street street favorite"
    "created created updated updated";
}

.data-table-cell[data-id="street"] {
  grid-area: street;
}
.data-table-cell[data-id="favorite"] {
  grid-area: favorite;
}
.data-table-cell[data-id="created"] {
  grid-area: created;
}
.data-table-cell[data-id="updated"] {
  grid-area: updated;
}

@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
  .data-table {
    max-width: 1000px;
  }
  .data-table-row {
    grid-template-columns: minmax(100px, auto) 1fr 1fr 1fr;
    grid-template-areas: "favorite street created updated";
  }
}
@media only screen and (min-width: 1280px) {
}
@media only screen and (min-width: 1580px) {
}
