.content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: min-content;
}

.main-form,
.error-message {
  grid-column: 1 / 13;
}

@media only screen and (min-width: 768px) {
  .main-form,
  .error-message {
    grid-column: 1 / 10;
  }
}
@media only screen and (min-width: 1024px) {
  .main-form,
  .error-message {
    grid-column: 1 / 8;
  }
}
@media only screen and (min-width: 1280px) {
  .main-form,
  .error-message {
    grid-column: 1 / 6;
  }
}
@media only screen and (min-width: 1580px) {
  .main-form,
  .error-message {
    grid-column: 1 / 5;
  }
}
