.data-table-row {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "bill-date bill-date bill-date bill-date"
    "from-date from-date to-date to-date"
    "unit unit price price"
    "created created updated updated";
}

.data-table-cell[data-id="bill-date"] {
  grid-area: bill-date;
}
.data-table-cell[data-id="from-date"] {
  grid-area: from-date;
}
.data-table-cell[data-id="to-date"] {
  grid-area: to-date;
}
.data-table-cell[data-id="unit"] {
  grid-area: unit;
}
.data-table-cell[data-id="price"] {
  grid-area: price;
}
.data-table-cell[data-id="created"] {
  grid-area: created;
}
.data-table-cell[data-id="updated"] {
  grid-area: updated;
}

@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
  .data-table-row {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "bill-date from-date to-date unit price created updated";
  }
}
@media only screen and (min-width: 1280px) {
}
@media only screen and (min-width: 1580px) {
}
